<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsAppBanque.Properties.Settings.DB_CAT_RTConnectionString"
            connectionString="Data Source=DESKTOP-M6EEL11;Initial Catalog=DB_CAT_RT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>